[submodule "panda"]
  path = panda
	url = git@github.com:sunnypilot/panda.git
[submodule "msgq"]
  path = msgq_repo
  url = https://github.com/sunnypilot/msgq.git
[submodule "teleoprtc_repo"]
  path = teleoprtc_repo
  url = https://github.com/commaai/teleoprtc
[submodule "tinygrad"]
  path = tinygrad_repo
  url = https://github.com/commaai/tinygrad.git